<% provide(:title, 'カロリー一覧') %>
<h1>消費カロリー一覧</h1>
<div class="">
<div><%= link_to '和食', japaneses_path%></div>
<div><%= link_to '洋食', westerns_path%></div>
<div><%= link_to '中華', chineses_path%></div>
<div><%= link_to 'お菓子・デザート', desserts_path%></div>
</div>
